.card__item {
  padding: 10px;
  height: 100%;
  width: 350px;
  padding-bottom: 3em;
  background-color: rgba(27, 27, 27, 0.425);
}
.card__item:hover {
  -webkit-box-shadow: 0px 0px 22px -4px rgb(105, 105, 105);
  -moz-box-shadow: 0px 0px 22px -4px rgb(105, 105, 105);
  box-shadow: 0px 0px 22px -4px rgb(105, 105, 105);
  cursor: pointer;
}
.card__content {
  width: 90%;
  margin: auto;
}
.card__picture {
  width: 90%;
  margin: auto;
  position: relative;
  bottom: 3em;
}
.card__img{
  width: 100%;
  border-radius: 3%;
}
.card__texts {
  margin: 10px 0;
  max-height: 100%;
}
.card__title {
  margin-bottom: 1em;
  color: white;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: 0.5px;
}
.card__paragraph {
  color: white;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: 5rem;
  font-family: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2);
}
.card__paragraph::-webkit-scrollbar {
  display: none;
}


